* {
	text-align: center;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #F0FFFF;
	margin: 0;
}

nav {
	font-weight: bold;
	margin: 40px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 5px;
	background-color: white;
	padding: 15px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: gray;
}

main {
	width: 100%;
	display: block;
	padding-top: 35px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	background-color: white;
}

h4 {
	padding: 15px;
}

hr { 
	border-top: 1px solid black;
	margin-left: 15px;
	margin-right: 15px;
} 



footer p {
	display: inline-block;
	margin-left:15px;
	margin-right: 15px;
	font-weight: bold;
	padding-bottom: 20px;
}

/* ID Selectors */

#avatar {	
	margin: auto;
	max-width: 250px;
}

#bio {
	font-size: 20px;
	margin: 20px;
}

#contact-wrapper {
	padding-bottom: 50px;
}

#name {
	float: left;
}

#top-nav {
	float: right;
}

#footer-navigation {
	display: none;
}

/* Class Selectors */

.introduction {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.portfolio-image {
	display: block;
	margin: auto;
	position: relative;
	max-width: 300px;
	padding-top: 20px;
}

.portfolio-text {
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 25px;
}

/* Media Queries */

@media (min-width: 768px) {

	body {
		padding-bottom: 25px;
		margin-bottom: 80px;
	}

	main {
		overflow: auto;
	}

	ul li {
		display: inline-block;
		margin: 5px;
		padding: 15px;
		background-color: #F0FFFF;
	}

	#avatar {
		display: inline-block;
		float: right;
		margin-left: auto;
		margin-right: 20px;
		max-width: 260px;
	}

	#bio {
		display: inline-block;
		margin-right: auto;
		width: 50%;
		font-size: 22px;
		margin-top: 0;
	}
	
	#wrapper-1 {
		display: inline-block;
		width: 50%;
		float:left;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#wrapper-2 {
		display: inline-block;
		width: 50%;
		float:right;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#wrapper-3 {
		display: inline-block;
		width: 50%;
		float:left;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#wrapper-4 {
		display: inline-block;
		width: 50%;
		float:right;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#wrapper-5 {
		display: inline-block;
		width: 50%;
		float:left;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#wrapper-6 {
		display: inline-block;
		width: 50%;
		float:right;
		padding-bottom: 50px;
		max-height: 405px;
	}

	#top-nav {
		display: none;
	}

	#footer-navigation {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		font-size: 15px;
	}

	.portfolio-image {
		max-width: 350px;
	}

}

@media (min-width: 1024px) {

	body {
		margin: 10px;
		padding: 15px;
	}

	h1 {
		float: left;
	}

	nav {
		margin-right: 0;
	}

	ul li {
		background-color: #F0FFFF;
		margin-top: 0;
		margin-right: 0;
		padding-top: 0;
		padding-right: 0;
	}

	main {
		padding: 10px;
	}

	#navigation {
		float: right;
		padding-right: 15px;
	}

	#avatar {
		display: inline-block;
		float: right;
		margin-left: auto;
		margin-right: 20px;
		max-width: 400px;
	}

	#bio {
		float: left;
		text-align: left;
		margin-left: 0;
	}

	#wrapper-1 {
		display: inline-block;
		width: 305px;
		float:left;
		max-height: 405px;
	}

	#wrapper-2 {
		display: inline-block;
		width: 305px;
		float:none;
		max-height: 405px;
	}

	#wrapper-3 {
		display: inline-block;
		width: 305px;
		float: right;
		max-height: 405px;
	}

	#wrapper-4 {
		display: inline-block;
		width: 305px;
		float: left;
		max-height: 405px;
	}

	#wrapper-5 {
		display: inline-block;
		width: 305px;
		float: none;
		max-height: 405px;
	}

	#wrapper-6 {
		display: inline-block;
		width: 305px;
		float: right;
		max-height: 405px;
	}

	#contact-wrapper p {
		font-size: 22px;
	}

	#top-nav {
		display: none;
	}

	#footer-span {
		display: inline-block;
		width: 100%;
		padding: 5px;
		margin: 5px;
	}

	#name {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}

	#footer-navigation {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		font-size: 15px;
	}


	.top {
		display: inline-block;
		width: 100%;
		float: top;
	}

	.introduction {
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.first-row  {
		display: inline-block;
		width: 100%;
	}

	.second-row {
		display: inline-block;
		width: 100%;
	}

	.portfolio-image {
		display: inline-block;
		max-width: 305px;
	}
}
