* {
	text-align: center;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #F0FFFF;
	margin: 0;
}

nav {
	font-weight: bold;
	margin: 40px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 5px;
	background-color: white;
	padding: 15px;
}

main {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
}

h4 {
	padding: 15px;
}

hr { 
	border-top: 1px solid black;
	margin-left: 15px;
	margin-right: 15px;
} 



footer p {
	display: inline-block;
	margin-left:15px;
	margin-right: 15px;
	font-weight: bold;
	padding-bottom: 20px;
}

/* ID Selectors */

#avatar {
	display: block;
	margin: auto;
	max-width: 250px;
}

#bio {
	font-size: 20px;
	margin: 20px;
}

#contact-wrapper {
	padding-bottom: 50px;
}

#name {
	float: left;
}

#top-nav {
	float: right;
}

/* Class Selectors */

.portfolio-image {
	display: block;
	margin: auto;
	max-width: 300px;
	padding-top: 15px;
}

.portfolio-text {
	margin-left: 10px;
	margin-right: 10px;
}
